<!-- logo -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/img/wms_logo_50x50px.png" alt="WMS"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a routerLink="/customer-shop" routerLinkActive="active" class="nav-link">Customer Shop</a>
                </li>

                <li class="nav-item">
                    <a routerLink="all-picking-orders" routerLinkActive="active" class="nav-link">Current Picking Order
                    </a>
                </li>

                <!-- <li class="nav-item">
                    <a routerLink="current-picking-order" routerLinkActive="active" class="nav-link">Current Picking
                        Order</a>
                </li> -->

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a routerLink="user-login" routerLinkActive="active" class="nav-link">Login / Loged in as
                    </a>
                </li>
            </ul>


        </div>
    </div>
</nav>
<div class="page-top-spacing"></div>