<!-- header -->
<app-header></app-header>
<div class="container">

    <!-- routes will be rendered here -->
    <router-outlet></router-outlet>

</div>
<!-- footer -->
<app-footer></app-footer>





<!-- Voorbeeld les -->
<!-- <hr>
hallo{{title}}

<h1>TEST</h1>

voornaam : {{voornaam}}
<br>
achternaam : {{achternaam}}
<br>
{{nogEen}}

<br><br>

Voornaam: <input type=text [(ngModel)]=voornaam>

<input type="button" value="klik" (click)="jojo()" />
<div>
    <input type="text" value="{{leeftijd}}" />
</div>
<input type="button" value="leeftijd" (click)="getLeeftijd(50)" />
<br>
<input type="text" (change)="veranderAchternaam($event)"> -->